@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.OfficeDesign>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<h1 class="text-center m-5">Office Design</h1>

     <section class="p-3">
         
         
        @{
        	var selection = Umbraco.Content(1100)
            .ChildrenOfType("officeDesignArticle")
            .Where(x => x.IsVisible())
            .OrderByDescending(x => x.CreateDate);
        }

	@foreach (var item in selection)
	{
	  var image = item.Value<IPublishedContent>("articleImage");
	  
		<div class="d-flex m-5  office">
            <img class="" src="@image.Url()" height="200px" width="300px">
            <div class="text-left ms-5 me-3">
                <a class="btn btn-secondery text-dark projectname ">@item.Value("articleTitle")</a>
                <p class=" text-gray ms-3  mb-3">@item.Value("articleSubtitle")</p>
                <a class="btn btn-secondery text-dark" href="@item.Url()" >read more</a>
            </div>
        </div>  
        
			
	}


     </section>